html{
    scroll-behavior: smooth;
}
body {
    background: black;
    margin: 0;
    color: #808080;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
}
                    /* Header */
.header {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header-navbar{
    background: #211f1f;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
    max-width: 80%;
    border: none;
    border-left: 6px solid rgb(170 170 198);
    margin: 0 auto;
    padding-right: 40px;
}
.profile-img {
    font-size: 40px;
    line-height: 40px;
    padding-top: 4px;
    height: 50px;
    padding: 8px 15px 8px 15px;
    font-size: 18px;
}
.logo-img{
    width: 30%;
    background: white;
    border-radius: 20%;
    height: auto;
}
.header-nav{
    width: 80%;
}
.header-navbar-list{
    display: flex;
    padding: 15px;
    justify-content: space-around;
}
.header-navbar-list li{
    flex-direction: row;
    padding-left: 10px;
} 
.header-navbar-list li a {
    color: #f2f2f2;
    font-size: 13px;
    font-weight: 400;
    transition: all 0.4s ease-in;
}
.header-navbar-list li a:hover, .active {
	background: grey;
    padding: 20px;
}

                    /* Banner */
.banner {
    background: url(../images/bg1.webp) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    padding-top: 180px;
    padding-bottom: 100px;
}
.banner-text {
    margin: 18% 0 0 40%;
    font-size: 20px;
    line-height: 0.5;
    color: black;
}
.banner-text h3, .banner-text h1 {
    color: black;
}
.banner-text h2 {
    display: none;
}

                    /* Section */
.section {
    color: #fff;
    text-align: center;
}
.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 12.5%;
}
.box{
    width: 25%;
    margin: -5% 0% 5% 2%;
}
.divider-wrapper .fa {
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 32px;
    width: 80px;
    height: 80px;
    line-height: 76px;
    text-transform: capitalize;
}
.divider-one {
    background: #c14000;
}
.divider-wrapper {
    padding: 20px;
}
.divider-wrapper h2 {
    padding-bottom: 4px;
}
.divider-two {
    background: #009988;
}
.divider-three {
    background: #ffa500;
}
@media (min-width: 1100px){
    #contact {
        top: 40px;
    }
}


                    /* About */
.about {
    background: #191919;
    width: 70%;
    margin: 4% 0 0 14%;
}
.about-section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 20em;
}
.about-img{
    width: 100%;
    height: 100%;
}
.logo-pic{
    width: 50%;
    padding: 0 10px 0 10px;
}
.logo-pic h2{
    color: #fff;
}
.logo-pic a{
    position: relative;
    top: 10px;
}
.btn-default {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 0px;
    box-shadow: none;
    color: #fff;
    padding: 12px 18px;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.4s ease-in;
}

.footer{
    margin: 50px 20% 25px 20%;
}

.footer-text{
    color: #fff;
    text-align: center;
}
footer p a {
    cursor: pointer;
    color: cornflowerblue;
    font-size: 20px;
    font-weight: bolder;
}

/*
---------------------------------------------
preloader
---------------------------------------------
*/

.js-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #232d39;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.js-preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

.preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: #232d39;
}

.preloader-inner .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: #fff;
    border-radius: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: dot 2.8s infinite;
    animation: dot 2.8s infinite;
}

.preloader-inner .dots {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    -webkit-animation: dots 2.8s infinite;
    animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: #fff;
    border-radius: 50%;
}

                    /* Contact */
#contact{
    width: 80%;
    margin: 85% 0 0 10%;
}
#contact-us {
    /*width: 80%;*/
    margin: 100px 0 0 0;
}
.contact-heading{
    text-align: center;
}
.contact-heading h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
}
.contact-heading p {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
.contact-details {
    display: flex;
    flex-direction: column;
}
.form {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
}
.label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: 300;
    color: #fff;
}
.form-left{
    width: 40%;
}
#contact .form-control, #contact-us .form-control {
    background: #202020;
    border: none;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: none;
    margin-bottom: 20px;
    transition: all 0.4s ease-in;
    color: #fff;
}
.form textarea{
    background: #202020;
    border: none;
    width: 100%;
    height: 70%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: none;
    margin-bottom: 20px;
    transition: all 0.4s ease-in;
    color: #fff;
}
.btn-submit{
    background: transparent;
    border: 2px solid #fff;
    border-radius: 0px;
    box-shadow: none;
    color: #fff;
    padding: 5px 8px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.4s ease-in;
    margin-left: 18%;
    margin-top: 10px;
}
.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}
.contact-info h3{
    color: #fff;
}

                /* Responsive Navbar */
.openbtn{
    float: right;
    color: #fff;
    padding-top: 10px;
    margin-right: -10%;
}
.closebtn{
    font-size: 60px;
    position: relative;
    top: -2%;
    left: 90%;
    color: #fff;
}